/*-------------------------------------
  Font
-------------------------------------*/
/* londrina-solid-300 - latin */
@font-face {
  font-display: swap;
  font-family: 'Londrina Solid';
  font-style: normal;
  font-weight: 300;
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  src: url('../fonts/londrina-solid-v17-latin-300.woff2') format('woff2');
}

/* londrina-solid-regular - latin */
@font-face {
  font-display: swap;
  font-family: 'Londrina Solid';
  font-style: normal;
  font-weight: 400;
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  src: url('../fonts/londrina-solid-v17-latin-regular.woff2') format('woff2');
}

/* quicksand-500 - latin */
@font-face {
  font-display: swap;
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 500;
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  src: url('../fonts/quicksand-v30-latin-500.woff2') format('woff2');
}

/*-------------------------------------
  Tailwind
-------------------------------------*/
@tailwind base;
@tailwind components;
@tailwind utilities;

/*-------------------------------------
  General
-------------------------------------*/
body {
  font-family: 'Quicksand', sans-serif;
  @apply bg-brown-700 text-white;
}

/*-------------------------------------
  Scroll Bar
-------------------------------------*/
::-webkit-scrollbar {
  width: 8px;
  height: 6px;
}

::-webkit-scrollbar-track {
  border-radius: 4px;
  @apply m-2 bg-brown-100/80;
}

body::-webkit-scrollbar-track {
  @apply bg-transparent;
}

::-webkit-scrollbar-thumb {
  width: 4px;
  border-radius: 4px;
  @apply bg-brown-200;
}

/*-------------------------------------
  Button
-------------------------------------*/
.primary-btn {
  @apply bg-orange-600 shadow-orange-700;
}

.disabled-btn {
  @apply shadow-brown-300 bg-brown-200;
}

.big-btn {
  @apply text-xl sm:text-2xl;
}

.medium-btn {
  @apply text-lg sm:text-xl;
}
